.posts
  for post in posts
    .row.post 
      .col-sm-12
        .meta 
          .time #{viewHelper.getFormattedDate(post.getCreatedAt())}
        h2.title 
          a(href="/posts/#{post.getPermalink() == null ? post.getId() : post.getPermalink()}")
            = post.getTitle()
        
        .content 
          !{post.getRenderedContent()}
        
        hr

.load-more
    nav
      ul.pager
        if totalPages > page
          li.previous
            a.btn(href="?page=#{page+1}")
              span(aria-hidden="true) &larr;
              |  Older posts

        if page > 1
          li.next
            a.btn(href="?page=#{page-1}")
              |Newer posts
              span(aria-hidden="true) &rarr;