extends ../layout/app 

block title 
  = viewHelper.metaTitle(post.getTitle())
  
block page_title
  h1 #{post.getTitle()}
  p #{viewHelper.getFormattedDate(post.getCreatedAt())}

block content 
  .post
    .content 
      !{post.getRenderedContent()}
    
    .info 
      if !tags.isEmpty()
        ul.tags
          li Tags:
          for tag in tags
            li: a.btn.btn-xs.btn-default(href="/tags/#{tag.getName()}") #{tag.getName()}
        
      .author 
        #{post.getCreatedAt() == post.getUpdatedAt() ? "Created" : "Updated"} 
        | on #{viewHelper.getFormattedDate(post.getCreatedAt())}

    .comments 
      include ../fragments/disqus
