extends ../layout/app

block page_title
  .avatar
    img(src="/images/user.jpg")
  h1 #{App.getSiteName()}
  p.meta #{App.getSiteSlogan()}

  p Hi, there. I'm Raysmond, a postgraduate of Computer Science in Fudan University from Shanghai, China. I love developing software and web applications and I blog about them.

block title 
  = App.getSiteName()

block content
  // include ../posts/index

  .latest-posts
    hr
    h2.text-center Latest Posts
  for post in posts
    .post-item
      a(href="/posts/#{post.getPermalink().length() > 0 ? post.getPermalink() : post.getId()}")
        h2 #{post.getTitle()}
        .meta
          span #{viewHelper.getFormattedDate(post.getCreatedAt())}

  .loadmore
    a.btn.btn-default(href="/posts/archive") More
