extends ../layout/app

block page_title
  .avatar
    img(src="/images/user.jpg")
  h1 #{App.getSiteName()}
  p.meta #{App.getSiteSlogan()}

  p
    | SpringBlog is a very simple and clean-design blog system implemented with Spring Boot. You can find the sourcecode
    | of the project at <a href="https://github.com/Raysmond/SpringBlog">Github</a>.
    | <br/>I hope you find it helpful.

block title 
  = App.getSiteName()

block content
  // include ../posts/index

  .latest-posts
    hr
    h2.text-center Latest Posts
  for post in posts
    .post-item
      a(href="/posts/#{post.getPermalink().length() > 0 ? post.getPermalink() : post.getId()}")
        h2 #{post.getTitle()}
        .meta
          span #{viewHelper.getFormattedDate(post.getCreatedAt())}

  .loadmore
    a.btn.btn-default(href="/posts/archive") More
